.home {
  font-size:        105%;
  padding:          0px;
  margin:           0px 10px 10px 10px;
  margin-right: 330px;
}

.home-side-bar {
  padding:          0px;
  margin:           0px 10px 10px 10px;
  float:            right;
  width:            280px;
}