---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
    {% if page.author %} • {{ page.author }}
    {% else %}
      {% if site.author %} • 
        <a href="mailto:{{ site.email }}">{{ site.author }}</a> 
      {% endif %}
    {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <div class="bdsharebuttonbox">
      <a href="#" class="bds_more" data-cmd="more"></a>
      <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
      <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
      <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
      <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
      <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    </div>
   <!--  <p class="post-meta">
      分类:
      {% for category in page.categories %}
      <a href="/categories/{{ category }}">{{ category }}</a>
      {% endfor %}
    </p>
    <p class="post-meta">
      标签:
      {% for tag in page.tags %}
      <a href="/tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!--baidu share begin-->
  <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
  </div>
  <script>
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};
  with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='https://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
  </script>
  <!--baidu share end-->

  <div class="post-copyright">
    本站内容均为原创，转载请注明出处<br>
    作者：<a target="blank" href="tencent://message/?uin={{ site.qq }}&Site=麟大大的程序世界&Menu=yes">麟大大</a><br>
    出处：<a href="{{ page.url }}">http://hungryant.github.io</a><br>
    多编码 多总结 厚积薄发<br>
  </div>

</div>
