---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
    {% if page.author %} • {{ page.author }}
    {% else %}
      {% if site.author %} • 
        <a href="mailto:{{ site.email }}">{{ site.author }}</a> 
      {% endif %}
    {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
   <!--  <p class="post-meta">
      分类:
      {% for category in page.categories %}
      <a href="/categories/{{ category }}">{{ category }}</a>
      {% endfor %}
    </p>
    <p class="post-meta">
      标签:
      {% for tag in page.tags %}
      <a href="/tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-copyright">
    本站内容均为原创，转载请注明出处<br>
    作者：<a href="http://hungryant.github.io/about">麟大大</a> QQ:517377100<br>
    出处：<a href="{{ page.url }}">http://hungryant.github.io</a><br>
    多编码 多总结 厚积薄发<br>
  </div>

</div>

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{page.url }}"></div>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"hungryant"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!-- 多说公共JS代码 end -->

<!-- UY BEGIN -->
<!-- <div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2043741"></script> -->
<!-- UY END -->